[submodule "submodule/SeparateProcess"]
	path = submodule/SeparateProcess
	url = https://github.com/SomeoneIsWorking/SeparateProcess.git
[submodule "submodule/Watari"]
	path = submodule/Watari
	url = https://github.com/SomeoneIsWorking/Watari.git
